.movieDetails {
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(235, 235, 235);
}

.movieDetails_btn {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    margin-top: 24px;
}

.movieDetails_icon {
    padding-right: 10px;
}

.movieDetails_primaryTitle {
    text-align: center;
    font-size: 36px;
}

.movieDetails_title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.movieDetails_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.movieDetails_link {
    font-weight: 500;
    // text-decoration: none;
    color: rgb(255, 200, 200);
}